{% macro render() %}
  <style type="text/css">
    .jast-wrapper.horizontal {
      overflow: hidden;
    }

    .jast-wrapper.horizontal .ticker-band-wrapper {
      overflow: hidden;
      position: relative;
    }

    .jast-wrapper.horizontal .ticker {
      display: flex;
      width: 100%;
    }

    .jast-wrapper.horizontal .ticker-list {
      display: flex;
      animation: tickerh {{ config.fadeSpeedInSeconds }}s linear infinite;
    }

    @keyframes tickerh {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  </style>
{% endmacro %}

