{% import "templates/StockList.njk" as stockList with context %}
{% import "templates/HorizontalScrollStyle.njk" as hss with context %}
{% macro render(num="1") %}
  {{ hss.render() }}
  <div class="ticker-band-wrapper">
    <div class="ticker">
      <div class="ticker-list">
        {% for i in range(0, config.virtualHorizontalMultiplier) -%}
          {{ stockList.render() }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}

